<div class="topbar" style="display: none">
    <div class="top-logo">Chatt</div>
    <div class="right">
        <a id="m-login" href="#">Log In</a>
        <a id="m-logout" href="#">Log Out</a>
        <div id="m-friends" class="dropdown down-left">
            <div class="header">Friends</div>
            <div class="body">
                <ul><li class="sub-header">Friends:</li></ul>
                <ul id="m-friend-list"></ul>
                <ul><li class="sub-header">Add Friend</li></ul>
                <ul><li class="sub-header">Friend Requests:</li></ul>
                <ul id="m-friend-request-list"></ul>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div id="friend-window" class="friend-window program-window">
            <div class="header">Friend List</div>
            <ul id="friend-list" class="friend-list"></ul>
            <div class="no-friends-marker"> - No Friends - </div>
            <button onclick="updateFriendList()">Update</button>
        </div>
    </div>
    <div class="col-md-4">
        <div id="chat-window-container"></div>
    </div>
</div>

<hr />
<footer>
    <p>&copy; @DateTime.Now.Year - kalleguld</p>
    <p>@Html.ActionLink("About", "About", "Home")</p>
</footer>

<div style="display: none" id="templates">
    <ul>
        <li id="friend-list-item-template" class="friend-list-item">
            <a href="#" onclick="openChatWindowFromElement(this)">
                <span class="username"></span>
            </a>
        </li>
    </ul>

    <div id="chat-window-template" class="chat-window program-window">
        <div class="header">
            <span>Chat with </span><span class="username"></span>
        </div>
        <div class="chat-history"></div>
        <form class="message-form" onsubmit="event.preventDefault(); return sendChatMessageForm(this);">
            <input type="text" class="chat-input" name="chat-input"/>
            <input type="hidden" class="receiver" name="receiver"/>
            <input type="submit" value="send"/>
        </form>
    </div>

    <div id="chat-history-item-out-template" class="history-item outgoing">
        <div class="username"></div>
        <div class="full-name"></div>
        <div class="content"></div>
        <div class="message-id"></div>
    </div>

</div>
