<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" 
             type="rerest.behaviors.EnableCrossOriginResourceSharingBehavior, rerest, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="rerest.controllers.UserController">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/jsonv1/users" />
          </baseAddresses>
        </host>
        <endpoint address="/" binding="webHttpBinding" 
                  contract="rerest.controllers.UserController" 
                  behaviorConfiguration="corsJsonBehavior"/>
      </service>
      <service name="rerest.controllers.FriendController">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/jsonv1/friends" />
          </baseAddresses>
        </host>
        <endpoint address="/" binding="webHttpBinding"
                  contract="rerest.controllers.FriendController" 
                  behaviorConfiguration="corsJsonBehavior"/>
      </service>
      <service name="rerest.controllers.FriendRequestController">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/jsonv1/friendrequests" />
          </baseAddresses>
        </host>
        <endpoint address="/" binding="webHttpBinding"
                  contract="rerest.controllers.FriendRequestController" 
                  behaviorConfiguration="corsJsonBehavior"/>
      </service>
      <service name="rerest.controllers.TokenController">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/jsonv1/tokens" />
          </baseAddresses>
        </host>
        <endpoint address="/" binding="webHttpBinding"
                  contract="rerest.controllers.TokenController" 
                  behaviorConfiguration="corsJsonBehavior"/>
      </service>
      <service name="rerest.controllers.MessageController">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/jsonv1/messages" />
          </baseAddresses>
        </host>
        <endpoint address="/" binding="webHttpBinding"
                  contract="rerest.controllers.MessageController" 
                  behaviorConfiguration="corsJsonBehavior"/>
      </service>

    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="corsJsonBehavior">
          <webHttp />
          <crossOriginResourceSharingBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="False" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>