body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.c-table {
    display: table;
    margin: 0;
    padding: 0;
}

.c-row {
    display: table-row;
    margin: 0;
    padding: 0;
}

.c-cell {
    display: table-cell;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}

.close-button {
    float: right;
    color: red;
}

.draggable-h .drag-handle {
    
}

.close-button {
    cursor: pointer;
}


.window {
    border: solid 2px black;
    background-color: white;
    max-width: 350px;
}

    .window-header {
        font-weight: bold;
        background-color: silver;
        cursor: move;
    }

.no-friends-marker {
    display: none;
}

    .friend-list:empty ~ .no-friends-marker {
        display: block;
    }


.chat-window {
    max-width: 350px;
}

    .chat-window .chat-history {
        height: 14rem;
        overflow: auto;
    }

    .chat-window .footer {
        width: 100%;
        box-sizing: border-box;
        border-top: 1px dotted black;
        padding: 0;
    }

    .chat-window .message-input {
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0;
        border: none;
        resize: none;
    }

    .chat-window button {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: antiquewhite;
        border: none;
        border-left: 1px dotted black;
    }

.history-item {
    
}

    .history-item .contents {
        white-space: pre-wrap;
    }

    .history-item + .history-item {
        border-top: dotted 1px blue;
    }

    .history-item.incoming {
        text-align: right;
    }

    .history-item.outgoing {
        background-color: azure;
    }

    .history-item.placeholder {
        display: none;
    }

    .history-item .you {
        font-weight: bold;
    }

    .history-item .username {
        font-weight: bold;
    }


