body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.friend-window {
    border: solid 2px black;
}

    .friend-window > .header {
        font-weight: bold;
    }

.no-friends-marker {
    display: none;
}

.friend-list:empty ~ .no-friends-marker {
    display: block;
}

.topbar .right > * {
    display: inline;
}

.dropdown {
    background-color: yellowgreen;
}

    .dropdown .body {
        position: fixed;
        display: none;
        background-color: yellow;
    }

    .dropdown:hover .body {
        display: block;
    }



.chat-window {
    border: solid 2px blue;
}

    .chat-window .header {
        background-color: aqua;
        margin-bottom: 5px;
    }

    .chat-window .chat-history {
        height: 20rem;
        overflow: auto;
    }

.history-item + .history-item {
    border-top: dotted 1px blue;
}
/*
.history-item.incoming {
    text-align: right;
}

.history-item.outgoing {
    background-color: azure;
}
    */
.history-item.placeholder {
    display: none;
}

.history-item .you {
    font-weight: bold;
}
.history-item .username {
    font-weight: bold;
}
