html {
     height: 100%;
     box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    background-color: black;
    height: 100%;
    box-sizing: border-box;
}

.c-table {
    display: table;
    margin: 0;
    padding: 0;
}

.c-row {
    display: table-row;
    margin: 0;
    padding: 0;
}

.c-cell {
    display: table-cell;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}

.close-button {
    float: right;
    color: red;
}

.close-button {
    cursor: pointer;
}

.window {
    border: solid 2px silver;
    background-color: white;
    max-width: 350px;
}

    .window-header {
        font-weight: bold;
        background-color: silver;
        cursor: move;
    }

.no-friends-marker {
    display: none;
}

    .friend-list:empty ~ .no-friends-marker {
        display: block;
    }


.chat-window {
    max-width: 350px;
    resize: both;
}

    .chat-window .chat-history {
        height: 14rem;
        overflow: auto;
    }

    .chat-window .footer {
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid silver;
        padding: 0;
    }

    .chat-window .message-input {
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0;
        border: none;
        resize: none;
    }

    .chat-window button {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: azure;
        border: none;
        border-left: 1px solid silver;
    }

.history-item {
    
}

    .history-item .contents {
        white-space: pre-wrap;
    }

    .history-item + .history-item {
        border-top: dotted 1px silver;
    }

    .history-item.incoming {
        text-align: right;
        background-color: ivory;
    }

    .history-item.outgoing {
        background-color: azure;
    }

    .history-item.placeholder {
        display: none;
    }

    .history-item .you {
        font-weight: bold;
    }

    .history-item .username {
        font-weight: bold;
    }


