<div ng-controller="MainController as mc" class="main-body">

    
    <div class="sidebar">
        <div class="sidebar-top">
            <h3>Friends of {{::mc.username}}</h3>

            <ul class="user-list friend-list">
                <li ng-repeat="f in mc.friends"
                    ng-click="mc.selectUser(f)"
                    class="user-list-item"
                    ng-class="mc.selectedUser == f ? 'selected' : ''">
                    <div class="selector">&#8594;</div>
                    <div class="username">
                        {{::f.username}}
                    </div>
                    <div class="unread-count"
                         ng-show="f.unreadMessages > 0">
                        {{f.unreadMessages}}
                    </div>
                </li>
            </ul>
            <div class="friend-requests" ng-show="mc.hasFriendRequests">
                <h3>Friend Requests</h3>
                <ul id="user-list friend-request-list">
                    <li ng-repeat="(un, u) in mc.friendRequests"
                        class="user-list-item">
                        <div class="selector">&#8594;</div>
                        <div class="username" ng-bind="::un" ng-click="mc.addFriend(u)"></div>
                        <div class="delete" ng-click="mc.deleteFriendRequest(u)">&#10006;</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-bottom">
            <div class="request-friend">
                <h3>Request Friend</h3>
                <div class="flex-row">
                    <input type="text" ng-model="mc.requestedFriend" id="tf-request-friend"/>
                    <button ng-click="mc.requestFriend()" id="btn-request-friend">Request</button>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex"></div>
                <button ng-click="mc.logout()">Log Out</button>
            </div>
        </div>
    </div>
    
    <div class="chat-window" ng-show="mc.selectedUser">
        <h3>Chat with {{mc.selectedUser.username}}</h3>
        <div class="chat-history" scroll-to-bottom>
            <div class="history-item"
                    ng-repeat="m in mc.selectedUser.messages"
                    ng-class="::m.outgoing ? 'outgoing' : 'incoming'"
                    title="Sent: {{::m.sent}}">
                <div class="header">
                    <div class="username">{{::mc.selectedUser.username}}</div>
                    <div class="sent-time" title="{{::m.sent}}">
                        {{::mc.prettyDate(m.sent)}}
                    </div>
                    <div class="message-direction" ng-show="::m.outgoing">&#8594;</div>
                    <div class="message-direction" ng-hide="::m.outgoing">&#8592;</div>
                </div>
                <div class="contents">{{::m.contents}}</div>
            </div>
        </div>
        <div class="footer">
            <textarea id="out-message"
                      ng-model="mc.selectedUser.outMessage" 
                      placeholder="Your Message"></textarea>
            <button ng-click="mc.sendMessage(mc.selectedUser)">
                Send Message
            </button>
        </div>
    </div>
</div>
